html.body {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
}



.heading {
    text-align: center;
    display: block;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 10px;
    color: #D93C68;
    font-family: 'Secular One', sans-serif;
    -webkit-text-stroke: 0.00001px #000; 
}
.course_page{
    padding-top: 70px;
    height: 100vh;
    background-color: #fbc4c1;
}
.courses {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}
